PyQt6

# core processing
requests
beautifulsoup4
pdfplumber
ollama
youtube-transcript-api
markdown

# text-to-speech
edge-tts
miniaudio
sounddevice
numpy

# packaging
pyinstaller

# dev / code quality
black
flake8
pytest
